.plans {
	&__subtitle {
		display: block;
		padding: 50px 0 40px;
		text-align: center;
		font-weight: 800;
		font-size: 23px;
		line-height: 26px;
	}
}
@media (max-width: 481px) {
	.plans__subtitle {
		display: block;
		padding: 30px 0 20px;
		font-size: 20px;
	}
}
