*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: currentColor;
	text-decoration: none;
}
a:focus,
a:active {
	outline: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	position: relative;
	font-family: "Montserrat";
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #333333;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
body {
	overflow-x: hidden;
}
main {
	width: 100%;
}
input,
button,
textarea {
	font-family: inherit;
	font-weight: inherit;
}
button {
	color: currentColor;
	border: transparent;
	background: transparent;
	cursor: pointer;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}
picture {
	font-size: 0;
}
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: inherit;
	font-weight: inherit;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
address {
	font-style: normal;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.non-scroll {
	overflow: hidden;
}
